body {
    background: #8b9fc5;
    font-family: Arial, sans-serif;
}

.container {
    max-width: 950px;
    margin: 40px auto;
    background: rgb(182, 249, 229);
    padding: 25px;
    border-radius: 10px;
}

.center {
    text-align: center;
}

textarea {
    width: 100%;
    height: 200px;
    padding: 10px;
    font-size: 14px;
    margin-bottom: 10px;
}

.btn-row {
    margin-top: 10px;
}

button {
    padding: 10px 14px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.primary {
    background: #2c7be5;
    color: white;
}

.secondary {
    background: #28c6bc;
    color: white;
}

button:hover {
    opacity: 0.9;
}

.models {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 12px;
    margin-top: 20px;
}

.card {
    padding: 18px;
    color: white;
    text-align: center;
    border-radius: 8px;
    font-weight: bold;
}

.true {
    background: #2ecc71;
}

.fake {
    background: #e74c3c;
}

.final {
    margin-top: 25px;
    padding: 25px;
    text-align: center;
    border-radius: 10px;
    color: white;
}

.explain-box {
    margin-top: 20px;
    padding: 20px;
    background: #eff5fc;
    border-left: 5px solid #2c7be5;
}

.news-text {
    font-size: 16px;
    margin-bottom: 15px;
}


.danger {
    background: #dc3545;
    color: white;
}

.about-text {
    font-size: 15px;
    line-height: 1.7;
    margin-bottom: 15px;
}

.about-list {
    margin-left: 20px;
    margin-bottom: 15px;
}

.about-list li {
    margin-bottom: 8px;
}
